@model IEnumerable<CategoryDTO>
@{
    ViewData["Title"] = "Item Grid";
}
<div class="w-100">
    <div class="d-flex justify-content-between align-items-center">
        <h5><i class="bi bi-box-seam"></i> Item Grid</h5>
        <button class="btn btn-secondary" onclick="openAddNewModal()">Add</button>
    </div>
    <hr />
    <div>
        <table class="table table-striped" id="itemGrid">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Create Date</th>
                    <th>Action</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
@*----------------------- modal start here-------------------*@
@* add new modal *@
<div class="modal fade" id="itemAddModal" aria-labelledby="itemAddModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemAddModalLabel">Add Item</h5>
            </div>
            <form id="categoryAddForm">
                <div class="modal-body">
                    <div id="formAddItemError" class="alert alert-danger d-none"></div>
                    <div class="form-group">
                        <label class="form-label" >Category</label>
                        <select class="form-control" id="categorySelect" name="categoryId" >
                            <option value="">Select Category</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label" >Item Name</label>
                        <input type="text" name="itemName" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Price</label>
                        <input type="number" class="form-control" name="price" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<input hidden id="hiddenItemId" />
@* update modal *@
<div class="modal fade" id="itemUpdateModal" aria-labelledby="itemUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemUpdateModalLabel">Update Item</h5>
            </div>
            <form id="categoryUpdateForm">
                <div class="modal-body">
                    <div id="formUpdateItemError" class="alert alert-danger d-none"></div>
                    <input type="hidden" name="id"/>
                    <div class="form-group">
                        <label class="form-label">Category</label>
                        <select class="form-control" id="categorySelect" name="categoryId">
                            <option value="">Select Category</option>
                            @foreach(var item in Model)
                            {
                                <option value="@item.Id">@item.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Item Name</label>
                        <input type="text" name="itemName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Price</label>
                        <input type="number" class="form-control" name="price" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
@* delete modal *@
<div class="modal fade" id="itemDeleteModal" aria-labelledby="itemDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemDeleteModalLabel">Remove Item</h5>
            </div>
            <div class="modal-body">
                <div id="formDeleteItemError" class="alert alert-danger d-none"></div>
                <p><strong>Do you want to remove item?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="btnItemDelete">Confirm</button>
            </div>
        </div>
    </div>
</div>
@*/----------------------- modal end here-------------------/*@
@section Scripts{
    <script src="~/js/items.js"></script>
    <script>
        function editItem(id) {
            $("#formUpdateItemError").addClass("d-none").text("");
            $.ajax({
                method:"GET",
                url:"/Item/GetItemDataById?itemId="+id,
                success:function(response){
                    var form = $("#categoryUpdateForm");
                    form.find("[name='id']").val(`${response.id}`);

                    form.find("[name='categoryId']").val(response.categoryId).trigger("change");
                    form.find("[name='itemName']").val(`${response.itemName}`)
                
                    form.find("[name='price']").val(`${response.price}`);

                    $('#itemUpdateModal').modal('show');
                },
                error:function(err){

                }
            })
        }
    </script>
}